.panda-bg-info {
  background-color: cyan;
}
.categories img {
  width: 100px;
}
.panda-btn-buy {
  background-color: rgb(245, 94, 225);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}
